<h2>Reproccer Reborn</h2>
<p>Compatibility patch and weapon/armor/alchemy/projectile stat overhaul creator for T3nd0's Skyrim Redone</p>
<p> Use the below settings to determine which type of records to patch. <br/> Use the data files to tweak the stats of the patched items to your liking. <br/> Remember to re-run the patcher anytime that you change your load order!!</p>
<section>
    <ignore-plugins patcher-id="reproccerReborn"></ignore-plugins>
</section>
<section>
    <div>
        <label>
          <input type="checkbox" ng-model="settings.reproccerReborn.weapons.enabled" /> Patch Weapons
        </label>
        <ul>
            <li>Adjusts weapon stats as specified by Stats.json</li>
            <li>Generates meltdown recipes and modifies tempering recipes.</li>
            <li>Generates Refined Silver variants of silver weapons.</li>
            <li>Generates crossbow variants of all crossbows.</li>
            <li>Links mod-added weapons to Skyrim Redone's perks.</li>
        </ul>
    </div>
    <div>
        <label>
            <input type="checkbox" ng-model="settings.reproccerReborn.armor.enabled" /> Patch Armor
        </label>
        <ul>
            <li>Adjusts armor stats as specified by Stats.json.</li>
            <li>Generates meltdown recipes and modifies tempering recipes</li>
            <li>Sets armor cap and armor protection per value. </li>
            <li>Generates dreamcloth variants of regular clothing pieces.</li>
        </ul>
    </div>
    <div>
        <label>
          <input type="checkbox" ng-model="settings.reproccerReborn.alchemy.enabled" /> Patch Alchemy Ingredients
        </label>
        <ul>
            <li>Adjusts alchemy ingredients to work over time.</li>
            <li>Optionally enforces upper and lower price limits for ingredients.</li>
        </ul>
    </div>
    <div>
        <label>
          <input type="checkbox" ng-model="settings.reproccerReborn.projectiles.enabled" /> Patch Projectiles
        </label>
        <ul>
            <li>Adjusts both arrow and bolt speed, gravity influence, reach, and damage. </li>
            <li>Creates explosive, timebomb, barbed, elemental, strong and stronger variants if applicable.</li>
        </ul>
    </div>
</section>
