h2 Reproccer Reborn

p Compatibility patch and weapon/armor/alchemy/projectile stat overhaul creator for T3nd0's Skyrim Redone
p 
  | Use the below settings to determine which type of records to patch. #[br]
  | Use the data files to tweak the stats of the patched item sto your liking. #[br]
  | Remember to re-run the patcher anytime that you change your load order!!

section
  ignore-plugins(patcher-id="reproccerReborn")

section
  div
    span.input-label Patch Weapons
    input(type="checkbox" ng-model="settings.reproccerReborn.patchWeapons") 

    ul
      li Adjusts weapon stats as specified by Stats.json
      li Generates meltdown recipes and modifies tempering recipes.
      li Generates Refined Silver variants of silver weapons.
      li Generates crossbow variants of all crossbows.
      li Links mod-added weapons to Skyrim Redone's perks.
  
  div
    span.input-label Patch Armor
    input(type="checkbox" ng-model="settings.reproccerReborn.patchArmor") 
    
    ul
      li Adjusts armor stats as specified by Stats.json.
      li Generates meltdown recipes and modifies tempering recipes
      li Sets armor cap and armor protection per value. 
      li Generates dreamcloth variants of regular clothing pieces.
    
  div
    span.input-label Patch Alchemy Ingredients
    input(type="checkbox" ng-model="settings.reproccerReborn.patchAlchemyIngredients") 
    
    ul
      li Adjusts alchemy ingredients to work over time.
      li Optionally enforces upper and lower price limits for ingredients.
    
  div
    span.input-label Patch Projectiles
    input(type="checkbox" ng-model="settings.reproccerReborn.patchProjectiles") 

    ul
      li Adjusts both arrow and bolt speed, gravity influence, reach, and damage. 
      li Creates explosive, timebomb, barbed, elemental, strong and stronger variants if applicable.
